<p>appointments-list works!</p>
<!-- appointments.component.html -->
  
  <!-- Main Content -->
  <section class="container">
    <h1>Appointment List</h1>
  
    <div class="row">
      <div class="col-md-3" *ngFor="let dog_walker of dogWalkers">
        <div class="card mb-3">
          <div class="card-body">
            <button class="card-title" (click)="fetchAppointments(dog_walker.id)">{{ dog_walker.first_name }} {{ dog_walker.last_name }} {{dog_walker.id}}</button>
          </div>
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="col-md-3" *ngFor="let timeslot of freeTimeSlots">
        <div class="card mb-3">
          <div class="card-body">
            <button class="card-title" (click)="createAppointment(timeslot)">{{ timeslot }}</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  