<div class="container">
    <form [formGroup]="changePasswordForm" class="form" (ngSubmit)="onSubmit()">
        <h2 class="form-title">Change Password</h2>
        <div class="form-field">
            <label for="oldpassword">Old Password</label>
            <input type="password" id="" formControlName="oldpassword" required>
            <div *ngIf="changePasswordForm.controls['oldpassword'].errors?.['required'] && (changePasswordForm.controls['oldpassword'].dirty || changePasswordForm.controls['oldpassword'].touched)"
                class="error">
                Password is required.
            </div>
        </div>
        <div class="form-field">
            <label for="newpassword">New Password</label>
            <input type="password" id="newpassword" formControlName="newpassword" required>
            <div *ngIf="changePasswordForm.controls['newpassword'].errors?.['required'] && (changePasswordForm.controls['newpassword'].dirty || changePasswordForm.controls['newpassword'].touched)"
                class="error">
                Password is required.
            </div>
            <div *ngIf="changePasswordForm.controls['newpassword'].errors?.['minlength'] && (changePasswordForm.controls['newpassword'].dirty || changePasswordForm.controls['newpassword'].touched)"
                class="error">
                Password must be at least 8 characters long.
            </div>
            <div *ngIf="changePasswordForm.controls['newpassword'].errors?.['pattern'] && (changePasswordForm.controls['newpassword'].dirty || changePasswordForm.controls['newpassword'].touched)"
                class="error">
                Password must contain at least one digit and one capital letter.
            </div>
        </div>
        <div class="form-field">
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" id="confirmpassword" formControlName="confirmpassword" required>
            <div *ngIf="changePasswordForm.controls['confirmpassword'].errors?.['required'] && (changePasswordForm.controls['confirmpassword'].dirty || changePasswordForm.controls['confirmpassword'].touched)"
                class="error">
                Password is required.
            </div>
            <div *ngIf="changePasswordForm.controls['confirmpassword'].errors?.['minlength'] && (changePasswordForm.controls['confirmpassword'].dirty || changePasswordForm.controls['confirmpassword'].touched)"
                class="error">
                Password must be at least 8 characters long.
            </div>
            <div *ngIf="changePasswordForm.controls['confirmpassword'].errors?.['pattern'] && (changePasswordForm.controls['confirmpassword'].dirty || changePasswordForm.controls['confirmpassword'].touched)"
                class="error">
                Password must contain at least one digit and one capital letter.
            </div>
        </div>
        <div class="form-button">
            <button type="submit">Save</button>
        </div>
        <div class="form-text">
            <a [routerLink]="['/auth/login']">Login here!</a>
        </div>
    </form>
</div>