<div class="card-container">
    <div class="card">
        <img class="card-img-top" src="../../assets/images/9bf8a74dafe015bcb31433437ae116af.png" alt="baset">
    <div class="card-body">
      <p class="card-text">The Baset was used as a solder in WW1 due to it's great sence of smell!</p>
    </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../assets/images/dalmatian.png" alt="dalmatian">
        <div class="card-body">
          <p class="card-text">Dalmatians are born without spots.</p>
        </div>
    </div>
  </div>
  
  <style>
    .card-container {
      display: flex;
      justify-content: center;
    }
    
    .card {
      width: 600px;
      margin: 10px;
    }
    .card-text {
     font-size: 18px;
     font-weight: bold;
    }
    .card-img-top {
     max-width: 87%;
     max-height: 87%;
    }
    .card-body {
     text-align: center;
    }

  </style>
  

