@import '~bootstrap/dist/css/bootstrap.min.css';

.flex-container {
    display: flex;
    margin-top: 5%;
    height: 75%;
    width: 80%;
    margin-left: 10%;
}

.flex-child {
    flex: 1;
    background-color: #c9dcb3;
    padding: 2%;
    border-radius: 25px;
}   

.flex-child:nth-child(2) {
    flex-basis: 25%;
    margin-left: 2%;
}

.flex-child:first-child div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px; 
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

p {
    color: #298279;
}

mat-icon {
    color: gold;
}