<div class="flex-container">
    <div class="flex-child">
      <img src="https://www.shutterstock.com/image-photo/young-handsome-man-beard-wearing-260nw-1768126784.jpg" style="height: 100%; width: 60%; float: left;">
      <div style="width: 20%; height: 100%; float: left;">
        <p>
          aa
        </p>
        <p>
          aa
        </p>
        <p>
          aa
        </p>
        <p>
          <a href="/changepassword" style="font-size: 12px;">Change password</a>
        </p>
      </div>
    </div>
    <div class="flex-child">
      <ng-container>
        <img src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*" style="height: 50%; width: 50%;" class="center">
        <div >
          <br>
          <br>
          <p>
            Name: 
          </p>
          <p>
            Brand:
          </p>
          <p>
            Age: 
          </p>
          <p>Rating:</p>
          <!-- <ng-container *ngFor="let star of stars"> -->
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          <!-- </ng-container> -->
          </div>
        <div style="width: 30%; height: 30%; float: right">
          <!-- za feedback -->
        </div>
      </ng-container>
    </div>
  </div>
  <br>